$fz: 80px;

%plborder{
    border-bottom: 5px dashed red;
}

@mixin fontz() {
    font-size:  $fz;
}

.block{
    width: 300px / 960px * 100%;
    background-color: blue;
    padding: 30px;
    font-size:  $fz;
    line-height: 60px;
    >p{
        color: red;
    }
    span{ 
        color: green;
    }
    .block__text{
        font-size: $fz;
    }
}
.link{
    color: blueviolet;
    text-decoration: none;

    .block &{
        font-size: $fz;
    }

    &:hover{
        color: green;
    }
    @extend  %plborder;
}

.link2{
    @include fontz($fz)
}
